*{
    margin: 0;
    padding: 0;
    background-color: red;
}

.menu {
    font-size: 1.2em;
    margin: 30px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.activeLink {
    font-weight: bold;;
    color: aqua;
}